/* spaaaaaaaaaaaace */
/*  strip html formatting */
html, body, ul, li, span, div {
  margin: 0;
  padding: 0; }

img {
  border: 0; }

ul {
  list-style: none; }

/* copy formatting */
#page {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; }

#page:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

#copy {
  height: 50%;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Arial Black', Arial, sans-serif;
  font-weight: bold;
  color: #252525; }

/*  img positioning */
#slideshow,
#slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0; }

#slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 60s linear infinite 0s;
  -moz-animation: imageAnimation 60s linear infinite 0s;
  -ms-animation: imageAnimation 60s linear infinite 0s;
  -o-animation: imageAnimation 60s linear infinite 0s;
  animation: imageAnimation 60s linear infinite 0s; }

/* slideshow */
#slideshow li:nth-child(1) span {
  background-image: url(../images/space/1.jpg);
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

#slideshow li:nth-child(2) span {
  background-image: url(../images/space/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s; }

#slideshow li:nth-child(3) span {
  background-image: url(../images/space/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s; }

#slideshow li:nth-child(4) span {
  background-image: url(../images/space/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s; }

#slideshow li:nth-child(5) span {
  background-image: url(../images/space/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -ms-animation-delay: 24s;
  -o-animation-delay: 24s;
  animation-delay: 24s; }

#slideshow li:nth-child(6) span {
  background-image: url(../images/space/6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -ms-animation-delay: 30s;
  -o-animation-delay: 30s;
  animation-delay: 30s; }

#slideshow li:nth-child(7) span {
  background-image: url(../images/space/7.jpg);
  -webkit-animation-delay: 36s;
  -moz-animation-delay: 36s;
  -ms-animation-delay: 36s;
  -o-animation-delay: 36s;
  animation-delay: 36s; }

#slideshow li:nth-child(8) span {
  background-image: url(../images/space/8.jpg);
  -webkit-animation-delay: 42s;
  -moz-animation-delay: 42s;
  -ms-animation-delay: 42s;
  -o-animation-delay: 42s;
  animation-delay: 42s; }

#slideshow li:nth-child(9) span {
  background-image: url(../images/space/9.jpg);
  -webkit-animation-delay: 48s;
  -moz-animation-delay: 48s;
  -ms-animation-delay: 48s;
  -o-animation-delay: 48s;
  animation-delay: 48s; }

#slideshow li:nth-child(10) span {
  background-image: url(../images/space/10.jpg);
  -webkit-animation-delay: 54s;
  -moz-animation-delay: 54s;
  -ms-animation-delay: 54s;
  -o-animation-delay: 54s;
  animation-delay: 54s; }

/* slideshow animation keyframes */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    filter: alpha(opacity=100); }

  25%, 100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    filter: alpha(opacity=100); }

  25%, 100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    filter: alpha(opacity=100);
    -o-animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    filter: alpha(opacity=100); }

  25%, 100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    filter: alpha(opacity=100);
    animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    filter: alpha(opacity=100); }

  25%, 100% {
    opacity: 0;
    filter: alpha(opacity=0); } }
