<section>
    <h1><div><span id="penn-rosen-title" onmouseover="onHover(this.id)">PENN ROSEN</span></div></h1>
    <h2><div id="web" onmouseover="onHover(this.id)">WEB</div> | 
        <div id="music" onmouseover="onHover(this.id)">MUSIC</div> | 
        <div id="design" onmouseover="onHover(this.id)">DESIGN</div></h2>
    <div class="circle-container">
          <div class="circle" data-angle=300><a href="http://www.instagram.com/pennrosen" title="Wherein I take pictures with my phone.">
            <img id="design-a-black" class="" src="images/icons/instagram_black.png" alt="instagram" width="100%" height="100%">
            <img id="design-a-color" class="hide-img" src="images/icons/instagram_color.png" alt="instagram" width="100%" height="100%">
          </a></div>
          <div class="circle" data-angle=0><a href="http://blog.pennrosen.com/" title="Interesting thoughts, tidbits, crumblies, junk.">
            <img id="design-b-black" class="" src="images/icons/blog_black.png" alt="email" width="100%" height="100%">
            <img id="design-b-color" class="hide-img" src="images/icons/blog_color.png" alt="email" width="100%" height="100%">
          </a></div>
          <div class="circle" data-angle=60><a href="http://www.linkedin.com/in/pennrosen" title="Wear a tie? Pantsuit? Click here!">
            <img id="web-a-black" class="" src="images/icons/linkedin_black.png" alt="linkedin" width="100%" height="100%">
            <img id="web-a-color" class="hide-img" src="images/icons/linkedin_color.png" alt="linkedin" width="100%" height="100%">
          </a></div>
          <div class="circle" data-angle=120><a href="http://www.github.com/pennrosen" title="<.+/>">
            <img id="web-b-black" class="" src="images/icons/github_black.png" alt="github" width="100%" height="100%">
            <img id="web-b-color" class="hide-img" src="images/icons/github_color.png" alt="github" width="100%" height="100%">
          </a></div>
          <div class="circle" data-angle=180><a href="http://www.last.fm/user/audiography" title="Working on a WFMU scrobbler.">
            <img id="music-a-black" class="" src="images/icons/lastfm_black.png" alt="last.fm" width="100%" height="100%">
            <img id="music-a-color" class="hide-img" src="images/icons/lastfm_color.png" alt="last.fm" width="100%" height="100%">
          </a></div>
          <div class="circle" data-angle=240><a href="http://www.twitter.com/pennrosen" title="Mostly terrible band names.">
            <img id="music-b-black" class="" src="images/icons/twitter_black.png" alt="twitter" width="100%" height="100%">
            <img id="music-b-color" class="hide-img" src="images/icons/twitter_color.png" alt="twitter" width="100%" height="100%">
          </a></div>
    </div>
    <h3><div id="email-me"><a href="mailto:penn.rosen+website@gmail.com" title="Contact me with job proposals, offers of friendship, puppy pictures.">penn.rosen@gmail.com</a></div></h3>
</section>