<!DOCTYPE html>
<html>
<head>
  <title>Penn Rosen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style  type="text/css">
      body { 
        
        background-color: #e9e9e7;
      }
      h1 {
      	font-size: 12px;
      	text-align: center;
      	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        color: #8897a8;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
