<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Penn Rosen</title>
    <link rel="icon" type="image/png" href="/images/breckin.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,100' rel='stylesheet' type='text/css'>

    <!-- SEO -->
      <meta name="description" content="Hi! I'm Penn Rosen. I'm also a web designer, musician, person, and other things."/>
      <meta name="author" content="Penn Rosen">
      <link rel="canonical" href="http://www.pennrosen.com/" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Penn Rosen" />
      <meta property="og:description" content="Hi! I'm Penn Rosen. I'm also a web designer, musician, person, and other things." />
      <meta property="og:url" content="http://www.pennrosen.com/" />
      <meta property="og:site_name" content="Penn Rosen" />
    <!-- end SEO -->

    <!-- custom CSS -->
    <link href="css/homepage.css" rel="stylesheet">

    <!-- start Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47766853-1', 'pennrosen.com');
        ga('send', 'pageview');

      </script>
    <!-- end Google Analytics -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>

  <%= yield %>

</body>
    <!-- social icons spinny script -->
        <script src="js/icon_spinner.js"></script>  
</html>
